.StudyPage{
  margin: 0 auto;
  width: 1400px;
}
.Study_Allpage {
  padding: 170px 0 150px;
  width: 100%;
}
.Study_Allpage h2 {
  font-size: 48px;
  padding-bottom: 80px;
}

.Study_Ebooks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Study_Ebooks>a {
  width: 30%;
}
.Study_Ebooks img {
  width: 100%;
  height: auto;
  vertical-align: top;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.Study_Ebooks>a:hover>img {
  filter: brightness(80%);
  transform: translateY(-15px);
}

@media (max-width:1440px) {
  .StudyPage {
    width: 100%;
    padding: 0 50px;
  }
  .Study_Allpage {
    padding: 120px 0 150px;
  }
}
@media (max-width:1024px) {
  .StudyPage {
    width: 100%;
    padding: 0 50px;
  }
}
@media (max-width:768px) {
  .Study_Allpage h2 {
    font-size: 34px;
    padding-bottom: 70px;
  }
  .Study_Allpage {
    padding: 120px 0 150px;
  }
  .StudyPage {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width:460px) {
  .StudyPage {
    width: 100%;
    padding: 0 20px;
  }

  .Study_Allpage {
    padding: 100px 0 100px;
    width: 100%;
  }
  .Study_Allpage h2 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .Study_Ebooks>a {
    width: 100%;
    margin-bottom: 30px;
  }

}
