.AboutSection {
  height: 450vh;
  position: relative;
  transition: 1s;
}

.aboutSpace {
  background-color: aqua;
  position: sticky;
  overflow: hidden;
  width: 1680px;
  height: 100vh;
  margin-left: 252px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
.aboutContentWrap {
  display: flex;
  transition: 1s;
}
