.IntroSection {
  height: 200vh;
}
.introSpace {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.IntroSection article {
  position: absolute;
}
.phase1 {
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.phase2 {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

h1.TitleText {
  font-size: 70px;
}
