.ChallengeBox {
  margin-top: 70px;
  margin-left: 20px;
}
.challengeContent {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.bookImage {
  width: 100%;
  height: 100%;
}
.challengeDetail {
  display: flex;
  width: 100%;
  height: 0;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: 0.5s;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  overflow: hidden;
  position: absolute;
  gap: 15px;
  bottom: 0;
  padding: 0 15px;
}
.challengeContent:hover > .challengeDetail {
  padding: 15px;
  height: 120px;
}
.challengeText {
  font-size: 20px;
  font-weight: 500;
  
}
.chWrap{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
@media(max-width:1024px){
  .chWrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
  }
}
@media(max-width:460px){
  .chWrap{
    flex-direction: column;
  }
}