.contentBox {
  width: 500px;
  height: 300px;
  border-radius: 40px;
  /* background-color: gray; */
  position: relative;
}
.ContentTitleText {
  font-size: 60px;
}
.ContentWrap {
  position: relative;
  width: min-content;
  margin-right: 200px;
}
.ContentTitleText {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}
