.noticeBar{
    width: 1400px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 1s;
    background-color: #282828;
    justify-content: space-between;
}
h3.noticeBarTitle{
    width: 80%;
    text-align: left;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
span.noticeLink{
    color: #fff;
}
span.info{
    color: #fff;
}