.Notification {
    padding-top: 70px;
}

.community_top {
    display: flex;
    height: 250px;
    padding: 20px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00DE63 0%, #1EC8EA 100%);
}

.community_top>* {
    align-self: stretch;
    color: #FFF;
    text-align: center;
    user-select: none;
}

.community_top>h1 {
    font-size: 60px;
    font-weight: 700;
}

.community_top>p {
    font-size: 24px;
    font-weight: 400;
}

.community_body {
    display: flex;
    max-width: 1920px;
    min-height: 680px;
    padding: 50px 100px 100px 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.community_tap {
    display: flex;
    width: 100%;
    max-width: 1400px;
    padding-bottom: 30px;
    gap: 20px;
    position: relative;
}

.community_tap>li {
    font-weight: bold;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    transition: .4s;
}

.community_tap>li>i {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.NTFtapVar>li:nth-child(1),
.FAQtapVar>li:nth-child(2) {
    color: #FFF;
}

.comTapPoint {
    height: 40px;
    border-radius: 20px;
    transition: .5s;
    background: linear-gradient(90deg, #00DE63 0%, #1EC8EA 100%);
    position: absolute;
    top: -3px;
    z-index: -1;
}

.NTFtapVar>.comTapPoint {
    width: 109px;
    left: 0;
}

.FAQtapVar>.comTapPoint {
    width: 144px;
    left: 129px;
}

.community_item {
    display: flex;
    width: 100%;
    max-width: 1452px;
    margin: 0 auto;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}



.community_item>div {
    width: 300px;
    min-height: 150px;
    padding: 20px;
    margin: 0 26px 50px 26px;
    border-radius: 10px;
    background: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.30);
    user-select: none;
    cursor: pointer;
}

.com_Qust {
    display: flex;
    font-family: Noto Sans KR;
    font-weight: 500;
}

.comTTAAGG>div {
    width: max-content;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    padding: 4px 9px;
    border-radius: 4px;
}

.comTTAAGG>.community_tag1 {
    background-color: #5465FF;
}

.com_Qust>h3 {
    font-size: 32px;
}

.com_Qust>p {
    padding: 13px 0 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 18px;
}

.Com_Answer>* {
    display: block;
}


.comDetail {
    top: 0;
    position: fixed;
    z-index: 99;
}

.comDetail>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 200px 100px;
    background-color: rgba(0, 0, 0, 0.30);
}

.comDetailPop {
    display: flex;
    max-width: 800px;
    min-height: 300px;

    padding: 40px;

    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    background: #FFF;
}

.comDetailPop>ul {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.comDetailTop,
.comDetail_A>li:nth-child(1) {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: 500;
}

.comDetailPop>ul>li:nth-child(2) {
    width: 100%;
    color: #000;
}

.comDetailTop>li:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.comDetail_A>li:nth-child(2) {
    width: 100%;
    display: flex;
    padding: 15px 20px 30px 20px;
    border-radius: 10px;
    background: #EEE;
    font-size: 18px;
    font-weight: 500;
}

.comDetail_A h2,
.community_item h2 {
    font-size: 18px;
    padding: 0 0 5px 0;
}

.comDetail_A h5,
.comDetail_A h6,
.community_item h5,
.community_item h6 {
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    padding: 0 0 20px 10px;
}

.comDetail_A p,
.community_item>div>.Com_Answer>p {
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 20px 0;
}

.comDetail_A div>p:last-child {
    padding: 0 0 0px 0;
}

.comDetail_A>li:last-child {
    max-height: 400px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

.comDetail_A span {
    display: block;
    font-size: 14px;
}

.comDetail_A .comPaddingB20 {
    padding: 0 0 20px 0;
}

.Com_Answer {
    display: none;
}


@media (max-width: 1272px) {
    .community_item {
        justify-content: center;
    }
}

@media (max-width: 920px) {
    .community_item {
        justify-content: space-between;
    }

    .community_item>div {
        margin: 0 0px 5.4347826vw 0px;
    }
}

@media (max-width: 860px) {
    .community_top {
        padding: 20px 7vw;
        ;
    }

    .community_top>h1 {
        font-size: 6.9767vw;
    }

    .community_top>p {
        font-size: 2.790697674vw;
    }

    .community_body {
        padding: 50px 50px 100px 50px;
    }

    .com_Qust>h3 {
        font-size: 3.7209vw;
    }

    .comDetail_A h2,
    .community_item h2,
    .comDetail_A>li:nth-child(2) {
        font-size: 2.09302vw;
    }

    .comDetail_A h5,
    .comDetail_A h6,
    .community_item h5,
    .community_item h6,
    .comDetail_A p,
    .community_item>div>.Com_Answer>p {
        font-size: 1.86047vw;
    }

    .comDetail_A span {
        font-size: 1.62791vw;
    }

    .comDetail_A>li:last-child {
        max-height: 46.51163vw;
    }

    .comDetailPop {
        padding: 4.65116vw;
    }
}


@media (max-width: 768px) {
    .community_body {
        padding: 50px 30px 100px 30px;
    }

    .comDetailTop>li:nth-child(2) {
        font-size: 3.1250vw;
    }
}

@media (max-width: 750px) {
    .community_item>div {
        width: 40vw;
    }
}

@media (max-width: 680px) {

    .comDetail_A h2,
    .community_item h2,
    .comDetail_A>li:nth-child(2) {
        font-size: 16px;
    }

    .comDetail_A h5,
    .comDetail_A h6,
    .community_item h5,
    .community_item h6,
    .comDetail_A p,
    .community_item>div>.Com_Answer>p {
        font-size: 14px;
    }

    .comDetail_A span {
        font-size: 12px;
    }

}

@media (max-width: 600px) {
    .community_item>div {
        width: 100%;
    }

    .comDetailTop,
    .comDetail_A {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .comTTAAGG>div {
        margin: 20px 0;
    }

    .comDetail {
        display: none;
    }

    .Com_Answer {
        display: block;
    }
}