.BoxWrap {
  display: flex;
}
.Home {
  width: 1400px;
  margin: 0 auto;

}
@media (max-width: 1440px) {
  .Home {
    width: 100%;
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .Home {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .Home {
    padding: 0 30px;
  }
}
@media (max-width: 460px) {
  .Home {
    padding: 0 20px;
  }
}
