.myPage{
    /* width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 120px 0 150px;
    width: 1400px;
    margin: 0 auto;
}
.mypageTop{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.mypageTop>h2{
    font-size: 48px;
}
.mypageTop>button{
    background-color: #708FFF;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
}
.mypageTop>button:hover{
    background-color: #4659a0;
}
.sub_cont{
    display: flex;
}
.mypage_left{
    display: flex;
    flex-direction: column;
    width: 62.5%;
    padding-right: 2rem;
}
.mypage_right{
    display: flex;
    flex-direction: column;
    width: 47.5%;
}
.myProfile{
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}
.profile_label{
    background-color: #708FFF;
    padding: 5px 20px;
    border-radius: 5rem;
    color: #fff;
    margin-right: 1.5rem;
}
.mptop>div:first-child{
    margin-bottom: 30px;
}
.mypageTotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypageTotal>div:last-child{
    background-color: #59CA79;
    padding: 5px 10px;
    color: #fff;
    border-radius: 25px;
}
#profileDisplay>img{
    border-radius: 50%;
    object-fit: cover;
}
.mypageTotal>div:first-child{
    display: flex;
    align-items: center;
}
.myage{
    margin-left: 20px;
}
.badgeWrap{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.recommendBook{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}
.bookWrap{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.bookWrap>a{
    width: 17%;
}
.bookWrap img{
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
.mypage_right{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}
.mypage_right>h3{
    font-size: 24px;
}
.mypage_right>p{
    font-size: 16px;
    margin: 10px 0 20px;
}
@media (max-width:1440px) {
    .myPage{
        width: 100%;
        padding: 120px 50px 150px;
    }
    .sub_cont{
        display: flex;
        flex-direction: column;
    }
    .mypage_left{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 0;
    }
    .mypage_right{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .mypage_right>ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .mypage_right>ul>li{
        width: 48%;
    }
}
@media (max-width:768px) {
    .myPage{
        padding: 120px 30px 150px;
    }
    .mypageTop>h2{
        font-size: 34px;
    }
    .mypage_right>ul>li{
        width: 100%;
    }
    .myProfile{
        padding: 20px;
    }
    .recommendBook{
        padding: 20px;
    }
    .mypage_right{
        padding: 20px;
    }
}
@media (max-width:460px) {
    .myPage{
        padding: 100px 20px 100px;
    }
    .mypageTotal{
        flex-direction: column;
        justify-content: center;
    }
    .mypageTotal>div:last-child{
        margin-top: 10px;
    }
    .mypageTotal>div:first-child{
        display: flex;
        flex-direction: column;
    }
    .profile_label{
        margin-right: 8px;
    }
    .mypageTop>button{
        border-radius: 20px;
        font-size: 13px;
        padding: 8px;
        cursor: pointer;
    }
}