.demoPage {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.541); */
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.StudyEbook {
  padding-top: 70px;
}

.StudyEbook_Out {
  position: absolute;
  right: 0;
  padding: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #555555;
  z-index: 999;
}

.StudyBook_AllPages {
  padding: 50px 100px 50px 100px;
}

.StudyBook_LeftPage,
.StudyBook_RightPage {
  padding: 50px 50px 0 50px;
}

.StudyBook_LeftPage > h3 {
  font-size: 32px;
}

.StudyBook_LevelText {
  width: 460px;
  height: 36px;
  color: #6372ff;
  font-size: 18px;
  background-color: #eee;
  margin: 15px 0px 0px 20px;
}

.StudyBook_Chapter {
  width: 450px;
  height: 90px;
  padding: 25px 0px 0px 50px;
}

.Chapter_Text {
  display: flex;
  justify-content: space-between;
}

.Chapter_Text > h4 {
  font-size: 18px;
}

.Chapter_Text > h4:nth-child(2) {
  padding-right: 20px;
  font-size: 14px;
}

.Chapter_Ptext {
  font-size: 11px;
  color: #888;
  padding: 5px 100px 0px 35px;
}

.StudyBook_LevelText-1 {
  width: 460px;
  height: 36px;
  background-color: #eee;
  margin-top: 60px;
}

.StudyBook_LevelText-1 > h5 {
  color: #6372ff;
  font-size: 18px;
}

/* -----[문제페이지]-------------------------- */
.StudyBook_ThreeItems {
  display: flex;
  gap: 15px;
}

.StudyBook_ProblemPage {
  padding: 80px 50px 100px 50px;
}

.StudyBook_Number {
  font-size: 20px;
  font-weight: bold;
}

.StudyBook_ProblemText {
  width: 408px;
  height: 100%;
  font-size: 16px;
  align-items: center;
}

.StudyBook_HintImg {
  width: 20px;
  height: 20px;
  background-color: #6372ff;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
}
.StudyBook_AnswerAll {
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 30px;
}

.StudyBook_AnswerAll > input {
  width: 400px;
  height: 33px;
  padding: 5px 50px 5px 30px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
}

.StudyBook_AnswerBtn {
  border-radius: 10px;
  background: #708fff;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
  float: right;
  cursor: pointer;
}

.AnswerBox {
  border-radius: 10px;
  background: #708fff;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
  float: right;
  cursor: pointer;
}

/* ----[정답확인Comment_Text의 모달창 관련]------------------ */
.Modal_Answer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 600px;
  z-index: 99;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000; /* 버튼 색상조절 */
}

.AnswerTwin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 33px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #c7ffdd;
}

.On_target {
  color: #2fba67;
}
.Off_target {
  color: red;
}
.NotEntered {
  color: black;
}

.Target_CommentBtn {
  cursor: pointer;
  float: right;
  margin-right: 20px;
}

/* ----[힌트 상자 관련]------------- */

.Ebook_HintBoX {
  max-width: 450px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
  left: 15%;
}

.HintBoX_text {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.EBook_HintContainer {
  text-align: left;
  position: relative;
  margin-bottom: 60px;
  border-radius: 10px;
  font-size: 16px;
}

.Ebook_HintClose {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 8px 12px;
  width: 94px;
  height: 46px;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 999999;
}

.handleCloseHintBox {
  display: none;
}

.Target_Comment {
  padding: 20px;
}
/* ------------------------------------- */
@media (max-width: 1440px) {
  .HTMLFlipBook {
    width: 100%;
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .HTMLFlipBook {
    width: 100%;
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .HTMLFlipBook {
    width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 460px) {
  .HTMLFlipBook {
    width: 100%;
    padding: 0 20px;
  }
}
