*{padding: 0; margin: 0; box-sizing: border-box;}

.Footer{
    width: 100%;
    height: 278px;
    padding: 70px 50px 100px 50px;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
}
.Footer>div{
    margin: 0 auto;
    min-width: 360px;
    max-width: 1400px;
}
.footerIcon{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footerLogo{
    width: 1100px;
    border-bottom: 1px solid #fff;
    padding: 20px 30px 20px 0px;
    display: flex;
    justify-content: space-between;
}
.FLogo{
    width: 80px;
    height: 30px;
    background: url(../asset/img/LogoWhite.png) ;
}
.iconLink{
    margin-top: 20px;
    display: flex;
}
.iconLink>div{
    margin-right: 20px;
    cursor: pointer;
}
.Ficon{
    width: 33px;
    height: 33px;
    background: url(../asset/img/facebook.png);
}
.Yicon{
    width: 33px;
    height: 33px;
    background: url(../asset/img/youtube.png);
}
.Iicon{
    width: 33px;
    height: 33px;
    background: url(../asset/img/instar.png);
}
.Kicon{
    width: 33px;
    height: 33px;
    background: url(../asset/img/kakao.png);
}
.adress{
    width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}
@media (max-width:1400px){
    .footerIcon{
        width: 100%;
    }
    .footerLogo{
        width: 100%;
    }
    .adress{
        width: 100%;
    }
}
@media (max-width:460px){
    .footerIcon{
        flex-direction: column;
    }
}