nav {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}
.SideBar > ul>li:last-child{
  margin-bottom: 0px;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  width: 170px;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}
p {
  color: #fff;
}
.icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 10px;
  transition: width 0.3s ease-in-out; /* 추가된 부분 */
  /* 호버 시 너비 조절 */
  &:hover {
    width: 170px; /* 호버 시 변경될 너비 값 */
  }
}
.icon1{
  background: linear-gradient(135deg, #A449FF 0%, #EB00FF 100%);
}
.icon2{
  background: linear-gradient(135deg, #0A47FD 0%, #7B00DF 100%);
}
.icon3{
  background: linear-gradient(135deg, #7B00DF 0%, #FD440A 100%);
}
.icon4{
  background: linear-gradient(135deg, #FFE500 0%, #F00 100%);
}
.icon5{
  background: linear-gradient(135deg, #00C6FF 0%, #0072FF 100%);
}
.icon>img{
  position: absolute;
  left: 12px;
}
.icon>.my{
  position: absolute;
  left: 9px;
}
.icon>.faq{
  position: absolute;
  left: 7px;
}
.icon>.su{
  position: absolute;
  left: 14px;
}
li>p{
  position: absolute;
  left: 50px;
}
@media (max-width:1440px){
  nav{
    display: none;
  }
}