*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
body {
  overflow-x: hidden;
}
button{
  background: none;
  border: none;
}
input{
  border: none;
  outline: none;
  background: none;
}
.w1400{
  margin: 0 auto;
  width: 1400px;
}
@media (max-width:1440px) {
  .w1400{
      width: 100%;
      padding: 0 50px;
  }
}
@media (max-width:768px) {
  .w1400{
      padding: 0 30px;
  }
}
@media (max-width:460px) {
  .w1400{
      padding: 0 20px;
  }
}

