/* body {
  background-color: black;
  width: 100%;
  height: 100vh;
} */
/* div {
  width: 500px;
  height: 500px;
  margin: 0 auto;
} */
/* .cls-1 {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  fill-opacity: 0;
  stroke-dasharray: 360;
  animation: ch-anim 2s linear 0s forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.testC {
  animation: chs-anim 2s linear 0s forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes chs-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
} */
div {
  width: 500px;
}

.cls-1 {
  fill: none;
  stroke: url("#grad1");
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 1px;
  stroke-dasharray: 500px;
  stroke-dashoffset: 0px;
  animation: ch-anim 5s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition: 15s;
}
.baller {
  width: 120px;
}
stop {
  transition: 1s;
}

@keyframes ch-anim {
  0% {
    stroke-dashoffset: 500px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
